.lien{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.5 ease;
    background:rgb(11, 146, 199);

}
.lien:hover{
    background-color: blue;
    color: white;
}